version: 2
jobs:
  build-and-test:
    macos:
      xcode: "13.4.1"
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - run: sudo defaults write com.apple.dt.Xcode IDEPackageSupportUseBuiltinSCM YES
      - run: rm ~/.ssh/id_rsa || true
      - run: for ip in $(dig @8.8.8.8 github.com +short); do ssh-keyscan github.com,$ip; ssh-keyscan $ip; done 2>/dev/null >> ~/.ssh/known_hosts || true
      - run: xcodebuild -workspace FinniversKit.xcworkspace -scheme 'Demo' -sdk iphonesimulator -destination 'platform=iOS Simulator,OS=15.2,name=iPhone 13 Pro' build test | xcpretty

  swiftlint:
    docker:
      - image: dantoml/swiftlint:latest
    steps:
      - checkout
      - run: swiftlint lint

workflows:
  version: 2
  build-and-test:
    jobs:
      - swiftlint
      - build-and-test
