name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    name: build-and-test
    runs-on: macos-15
    env:
      scheme: ${{ 'Demo' }}
      destination: ${{ 'platform=iOS Simulator,OS=18.4,name=iPhone 16 Pro' }}

    steps:
      - uses: actions/checkout@v4
      
      - name: Select Xcode 16.4
        shell: bash
        run: |
          sudo xcode-select -s /Applications/Xcode_16.4.app
          XCODE_PATH="$(xcode-select -p)"
          echo "Using Xcode at ${XCODE_PATH}"
          xcodebuild -version

        
      - name: Accept Xcode license & runFirstLaunch
        run: |
          # tolerate failures so the job continues if already accepted
          sudo xcodebuild -license accept || true
          sudo xcodebuild -runFirstLaunch || true
                  
      - name: Download iOS platform support (fixes "iOS 18.4 is not installed")
        run: sudo xcodebuild -downloadPlatform iOS
        
      - name: Install SwiftLint
        run: brew install swiftlint
        
      - name: Lint
        run: |
          swiftlint lint
          
      - name: Build
        run: |
          xcodebuild build-for-testing -scheme "$scheme" -workspace FinniversKit.xcworkspace -destination "$destination"
          
      - name: Test
        run: |
          xcodebuild test-without-building -scheme "$scheme" -workspace FinniversKit.xcworkspace -destination "$destination" 
